:root {
    --primaryText: #313131;
    --secondaryText: #747474;
    --primaryBackground: #f8f8f8;
    --primaryHighlight: #ed801e;

    --fontBold: 'RobotoBold';
    --fontRegular: 'RobotoRegular';
    --fontLight: 'RobotoLight';
}

@font-face {
    font-family: RobotoBold;
    src: url(./fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: RobotoLight;
    src: url(./fonts/Roboto_Condensed/RobotoCondensed-Light.ttf);
}
@font-face {
    font-family: RobotoRegular;
    src: url(./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

 
body {
    background-color: var(--primaryBackground);
    margin: 0;
    font-family: var(--fontRegular);
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}

.intro {
    padding: 48px 32px 32px 48px;
    color: var(--primaryText);
    box-shadow: 4px 0 4px 0px #00000040;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}


.title {
    font-family: var(--fontBold);
    font-size: 90px;
    line-height: 72px;
}

.dot {
    color: var(--primaryHighlight);
}

.subtitle {
    font-family: var(--fontLight);
    color: var(--secondaryText);
    font-size: 28px;
    padding-top: 24px;
}

.contactLinks {
    margin-top: 72px;
    color: var(--primaryText);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contactLink {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactLink a {
    color: inherit;
}

.contactLinkIcon {
    width: 24px;
    height: auto;
    padding-right: 8px;
}

.projects {
    overflow-x: hidden;
}

.project {
    display: flex;
    align-items: end;

    height: 100px;
    max-width: 1200px;
    padding: 16px;

    font-size: 36px;
    line-height: 30px;
    text-decoration: none;

    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: var(--primaryText);
    text-shadow: var(--primaryBackground) 0px 0px 8px;

    transform: translateX(0px);
    transition: transform 0.2s;
}

.separator {
    border-top: 2px solid var(--primaryText);
}

.project:hover {
    transform: translateX(32px);
}

.dokv {
    background-image: url(./images/dokv.PNG);
}

.wsil {
    background-image: url(./images/wsil.PNG);
}

.copyright {
    color: var(--secondaryText);
    font: var(--fontLight);
    position: absolute;
    padding-top: 16px;
    bottom: 8px;
    display: flex;
    align-self: center;
    font-size: 14px;
}